body{
    color: #2c302e;
    background-color: rgb(171, 206, 236);
}
.bloque{
    float: left;
    position: relative;
    margin-left: 5%;
    width: 50%;
}
h1{
      text-align: center;
}

h1,h2{
    
  
    font-family:'Permanent Marker', cursive;

}
p{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.formulario{

    border:1px dashed;
    margin-left: 3%;
    padding: 3% 5% 5% 3%;
    border-radius: 2%;
    background-color: #f0f2ef;
    
}
.formulario tr, td{
    text-align: center;
    padding: 3%;
}
.formulario caption{
    padding-bottom: 5%;
    font-size: 2em;
}

.formulario input{
    background-color: #abceec;
    padding:3%;

}
.boton{
    width: 7em;
    height: 4em;
    border-radius: 15%;
    color: #f0f2ef;
    background-color: #505a5b;
    font-weight: bolder;
    

}
a{
    color: #8f91a2;

}


