body{
    color: #2c302e;
}
h1{
      text-align: center;
}

h1,h2,p{
    
  
    font-family:'Permanent Marker', cursive;

}
.formulario{
    border:1px dashed;
    position: relative;
    width: 15%;
    margin-left:  43%;
    padding: 2% ;
    border-radius: 2%;
    
}

.formulario input{
    background-color: #aac0aa;
    padding:
    

}
.buttom{

}